<div class="main user-show">
  <div class="container">
    <div class="row">
      <div class="col s2">
          <div class="card card-prof">
            <div class="card-container card-prof-container">
              <div class="user">
                <img src="<%= "/user_images/#{@user.image_name}" %>">
                <h2><%= @user.name %></h2>
                <% if @user.id == @current_user.id %>
                  <%= link_to("編集", "/users/#{@user.id}/edit", {class: "btn-empty"}) %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
      
      <div class="col s10">
      <ul class="user-tabs">
        <li><a href="<%="/users/#{@user.id} "%>">マイポスト<span class="badge tab-badge"><%= @posts.count%></span></a></li>
        <li><a href="<%="/users/#{@user.id}/likes "%>">いいね<span class="badge tab-badge"><%= @likes.count%></span></a></li>
        <li><a href="<%="/users/#{@user.id}/joins "%>">参加予定<span class="badge tab-badge"><%= @joins.count%></span></a></li>
        <li class="active"><a href="<%="/users/#{@user.id}/joined "%>">参加済<span class="badge tab-badge"><%= @joined.count%></span></a></li>
      </ul>
      
      <% @joined.each do |join| %>
        <% post = Post.find_by(id: join.post_id) %>
        <% puts post %>
        <a href="<%=" /posts/#{post.id} "%>" >
          <div class="posts-index-item">
            <div class="col s9">
              <div class="post-left">
                <img src="<%= "/user_images/#{post.user.image_name}" %>">
              </div>
              <div class="post-left">
                <div class="post-user-name">
                  <div><%= post.title %></div>
                  <div><%= post.content %></div>
                </div>
              </div>
            </div>
            <div class="col s3 user-held-date">
                <div class="post-right">
                  <div><%= post.date.strftime("%Y年%m月%d日") %>に開催済</div>
                </div>
            </div>
          </div>
        </a>
        
      <% end %>
    </div>
  </div>
</div>
