<div class="main users-edit">
  <div class="container">
    <div class="row">
      <div class="col s3">
        <div class="collection">
          <a href="<%=" /users/#{@user.id}/edit "%>" class="collection-item">ユーザー情報</a>
          <a href="<%=" /users/#{@user.id}/password "%>" class="collection-item active">パスワード</a>
        </div>

      </div>
      <div class="form users-form col s9">
        <div class="form-body">
          <% if @error_message %>
            <div class="form-error">
              <%= @error_message %>
            </div>
          <% elsif @user.errors.full_messages %>
            <% @user.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>     
          <% end %>
          <%= form_tag("/users/#{@user.id}/update_password") do %>
            <div class="input-field col s12">
              <input id="current_password" name="current_password" type="password" class="validate" value="">
              <label for="current_password" class="active">現在のパスワード<span class="required">*</span></label>
            </div>
            <!-- <div class="password-link"><a href="#">パスワードを忘れましたか？</a></div> -->
            <div class="input-field col s12">
              <input id="new_password" name="new_password" type="password" class="validate" value="">
              <label for="new_password" class="active">新しいパスワード<span class="required">*</span></label>
            </div>
            <div class="input-field col s12">
              <input id="confirm_password" name="confirm_password" type="password" class="validate" value="">
              <label for="confirm_password" class="active">新しいパスワードを再入力<span class="required">*</span></label>
            </div>
            <button class="waves-effect waves-light btn pull-right" type="submit">保存</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>