<div class="main user-show">
  <div class="dashboard-container">

    <div class="dashboard">
      <div class="dashboard-profile">
          <div class="card card-prof">
            <div class="card-container card-prof-container">
              <div class="user">
                <% if !@user.avatar.blank? %>
                  <img src="<%= @user.avatar %>">
                <% else %>
                  <img src="<%= "/user_images/default_user.jpg" %>">
                <% end %>
                <h2><%= @user.name %></h2>
                <% if @user.id == @current_user.id %>
                  <%= link_to("編集", "/users/#{@user.id}/edit", {class: "btn-empty"}) %>
                <% end %>
              </div>
            </div>
          </div>
      </div>

      <div class="dashboard-content">
        <ul class="user-tabs">
          <li><a href="<%="/users/#{@user.id}/joins "%>">参加予定のイベント<span class="badge tab-badge"><%= @joins.count%></span></a></li>
          <li><a href="<%="/users/#{@user.id}/likes "%>">お気に入り<span class="badge tab-badge"><%= @likes.count%></span></a></li>
          <li class="active"><a href="<%="/users/#{@user.id} "%>">自分の投稿<span class="badge tab-badge"><%= @posts.count%></span></a></li>
          <li><a href="<%="/users/#{@user.id}/joined "%>">参加済のイベント<span class="badge tab-badge"><%= @joined.count%></span></a></li>
        </ul>

        <% @user.posts.each do |post| %>
          <a href="<%=" /posts/#{post.id} "%>" >
            <div class="posts-index-item">
              <div class="content-left">
                <div class="user-left content-img">
                  <% if !post.user.avatar.blank? %>
                    <img src="<%= post.user.avatar %>">
                  <% else %>
                    <img src="<%= "/user_images/default_user.jpg" %>">
                  <% end %>
                </div>
                <div class="user-right content-detail">
                  <div class="content-detail-title"><%= post.title %></div>
                  <div class="overflow"><%= post.content %></div>
                </div>
              </div>
              <div class="content-right user-held-date">
                <div class="user-date">
                  <div><%= post.created_at.strftime("%Y年%m月%d日") %>に作成</div>
                </div>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>

  </div>
</div>