<div class="main top-main">

  <div id="top-picture">
    <div class="top-message">
      <h2>新しい経験を</h2>
      <p class="sub-message">自分の世界を広げていこう</p>
      <!-- <a data-target="account-modal" class="waves-effect waves-light btn modal-trigger">アカウントを作る</a>  -->
      <%= link_to("アカウントを作る", "/signup", {class: "waves-effect waves-light btn"}) %>
    </div>
  </div>

  <div class="container before-login">
    <!--
  	<div class="section top-recommend-section">
      <div class="row">
  	  	<p class="top-title">イベント内容をのぞいてみましょう</p>
        <div class="col s9 m3">
  		    <a class="waves-effect waves-teal btn-empty">スカンクワーク</a>
        </div>
        <div class="col s9 m3">
  		    <a class="waves-effect waves-teal btn-empty">英語</a>
        </div>
        <div class="col s9 m3">
  		    <a class="waves-effect waves-teal btn-empty">遊び</a>
        </div>
        <div class="col s9 m3">
  		    <a class="waves-effect waves-teal btn-empty">その他</a>
        </div>
      </div>
    </div>
    -->
    <div class="section latest-event">

      <div class="row">
        <p>近日開催予定のイベント</p>
	      <% if @posts.count > 0 %>
            <div id="cards-0" class="card-flex">
            <% @posts.each do |post| %>
            <a href="<%= "/posts/#{post.id}" %>">
              <div class="l-card">
                <div class="l-thumbnail">
                  <figure class="thumbnail-wrapper">
                    <% if post.genre_id == 1 %>
                      <img class="card-img" src="/genre_images/skunk_0.png">
                    <% elsif post.genre_id == 2 %> 
                      <img class="card-img" src="/genre_images/english_0.png">
                    <% elsif post.genre_id == 3 %> 
                      <img class="card-img" src="/genre_images/play_0.png">
                    <% else %>
                      <img class="card-img" src="/genre_images/others_0.png">
                    <% end %>
                  </figure>
                  <span class="more-text">
                    Read More
                  </span>
                </div>
                <div class="text-content">
                  <div class="title">
                    <%= post.title %>
                  </div>
                  <div class="content-meta">
                    <span class="date">
                      開催日時<br>
                      <%= post.date %> 
                      <% if post.time_from %>
                        <%= post.time_from.strftime('%H:%M') %>
                        〜 <%= post.time_to.strftime('%H:%M') %>
                      <% end %>
                    </span>
                  </div>
                  </div>
              </div>
            </a>
            <% end %>
	      </div>
	    <% end %>
	  </div>

    </div>

  </div>
</div>



