<div class="main posts-edit">
  <div class="container">
    <!-- <h1 class="form-heading">投稿する</h1> -->

    <div class="row">
      <%= form_tag("/posts/#{@post.id}/update", {multipart:true}) do %>
        <div class="form">
          <div class="form-body">
            <% @post.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>
            <div class="input-field col s12">
              <input placeholder="タイトルを入力してください" id="title" name="title" type="text" class="validate" data-length="20" value="<%= @post.title %>">
              <label for="title" class="active">タイトル<span class="required">*</span></label>
            </div>
            <div class="input-field col s6">
              <input placeholder="2018-01-10" id="date_from" name="date_from" type="text" class="validate datepicker" value="<%= @post.date_from %>">
              <!-- <i class="fa fa-calendar" aria-hidden="true"></i> -->
              <label for="date_from" class="active">日付<span class="required">*</span></label>

            </div>

            <div class="input-field col s3">
              <select name="time_from" id="time_from">
                <% @time_ranges.each do |time_range| %>
                  <% if @time_from == time_range %>
                    <option selected="selected" value="<%= time_range %>"><%= time_range %></option>
                  <% elsif @target_from_time == time_range && !@time_from %>
                    <option selected="selected" value="<%= time_range %>"><%= time_range %></option>
                  <% else %>
                    <option value="<%= time_range %>"><%= time_range %></option>
                  <% end %>
                <% end %>
              </select>
              <label>何時から</label>
            </div>
            <div class="input-field col s3">
              <select name="time_to" id="time_to">
                <% @time_ranges.each do |time_range| %>
                  <% if @time_to == time_range %>
                    <option selected="selected" value="<%= time_range %>"><%= time_range %></option>
                  <% elsif @target_to_time == time_range && !@time_to %>
                    <option selected="selected" value="<%= time_range %>"><%= time_range %></option>
                  <% else %>
                    <option value="<%= time_range %>"><%= time_range %></option>
                  <% end %>
                <% end %>
              </select>
              <label>何時まで</label>
            </div>

            <div class="col s12">
              <p>詳細</p>
              <div class="input-field col s12">
                <input id="place" name="place" placeholder="20F大会議室2" data-length="32" type="text" class="validate" data-length="50" value="<%= @post.place %>">
                <label for="place" class="active">場所</label>
              </div>
              <div class="input-field col s12">
                <input id="budget" name="budget" placeholder="500" type="number" class="validate" value="<%= @post.budget %>" min="0" max="10000">
                <label for="budget" class="active">1人あたりの参加費（円）</label>
              </div>

              <div class="file-field input-field col s12">
                <label for="image" class="active">イベントの画像(5MB以下)</label>
                <div class="btn modal-trigger">
                  <span>アップロード</span>
                  <input id="image" name="image" type="file" class="validate"  accept="image/*,.png,.jpg,.jpeg,.gif">
                  <%= hidden_field_tag :"image_cache", @post.image.cache_name %>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
                <div id="preview">
                  <% if @post.image? %>
                　　<%= image_tag @post.image.url, :class => "already-img" %>
                　<% end %>
                </div>
              </div>
              <!-- <div class="get-data-area"></div> -->

              <div class="input-field col s12">
                <input id="max_member" name="max_member" placeholder="10" type="number" class="validate" value="<%= @post.max_member %>" min="1" max="100">
                <label for="max_member" class="active">参加可能な最大人数（人）</label>
              </div>
              <div class="input-field col s12">
              <%= select_tag 'genre_id', options_from_collection_for_select(@genre, :id, :title, { :selected => @post.genre_id.to_i }), :class => ''  %>                
                <!-- 
                  以下のhtmlプラス、選択済みのやつが初めから選ばれているようにしている。
                <select name="genre_id">
                  <option value="1">スカンクワーク</option>
                  <option value="2">英語</option>
                  <option value="3">遊び</option>
                  <option value="4">その他</option>
                </select> 
              -->
                <label for="genre">イベントの種類</label>
              </div>
              <!--
              <div class="input-field col s12">
                <input id="genre" name="genre" placeholder="スカンクワーク" type="text" class="validate">
                <label for="genre">イベントの種類</label>
              </div>
              -->
              <div class="input-field col s12">
                <textarea id="detail-content" name="content" data-length="400"  class="materialize-textarea"><%= @post.content %></textarea>
                <label for="detail-content" class="active">イベントの詳細</label>
              </div>
            </div>

          <!-- 一旦保留
            <div class="col s3">
              <p>メンバー</p>

            </div>
          -->
            <!-- <input type="submit" value="投稿する"> -->
            <button class="waves-effect waves-light btn pull-right save-post" type="submit">再投稿</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    M.textareaAutoResize($('#detail-content'));
</script>
