<div class="main posts-index">
  <div class="container">
    <% @posts.each do |posts| %>
    <% if posts.count > 0 %>
      <div class="list-box">
      <% if @first_post %>
        <%= link_to("#開催日時の近い順", "/posts/0/index", {class: "hashtag"}) %>
      <% else %>
        <%= link_to("#"+ posts[0].genre.title, "/posts/#{posts[0].genre_id}/index", {class: "hashtag"}) %>
      <% end %>
      <div class="row">
        <div class="col s12">
          <% if @first_post %>
            <div id="cards-0" class="card-flex">
            <% @first_post = false %>
          <% else %>
            <div id="cards-<%= posts[0].genre_id %>" class="card-flex">
          <% end %>
            <% posts.each do |post| %>
            <% if session[:user_id] == post.user.id%>
              <a class="triangle" href="<%= "/posts/#{post.id}" %>">
            <% else %>
              <a class="" href="<%= "/posts/#{post.id}" %>">
            <% end %>    
              <div class="l-card">
                <div class="l-thumbnail">
                  <figure class="thumbnail-wrapper">
                    <% if !post.image.blank? %>
                      <img class="card-img" src="<%= post.image.thumb.url %>">
                    <% else %>
                      <% if post.genre_id == 1 %>
                        <img class="card-img" src="/genre_images/skunk_0.png">
                      <% elsif post.genre_id == 2 %> 
                        <img class="card-img" src="/genre_images/english_0.png">
                      <% elsif post.genre_id == 3 %> 
                        <img class="card-img" src="/genre_images/play_0.png">
                      <% else %>
                        <img class="card-img" src="/genre_images/others_0.png">
                      <% end %>
                    <% end %>
                  </figure>
                  <!-- <span class="more-text">
                    Read More
                  </span> -->
                </div>
                <div class="text-content">
                  <div class="title">
                    <%= post.title %>
                  </div>
                  <% if !post.user.avatar.blank? %>
                    <img class="icon-post-img tooltipped" data-position="bottom" data-tooltip="<%= post.user.name %>" src="<%= post.user.avatar %>">
                  <% else %>
                    <img class="icon-post-img tooltipped" data-position="bottom" data-tooltip="<%= post.user.name %>" src="<%= "/user_images/default_user.jpg" %>">
                  <% end %>

                  <div class="content-meta">
                    <span class="date">
                      開催日時<br>
                      <%= post.date_from %> 
                      <% if post.time_from %>
                        <%= post.time_from.strftime('%H:%M') %>
                        〜 <%= post.time_to.strftime('%H:%M') %>
                      <% end %>
                    </span>
                  </div>
                  </div>
              </div>
            </a>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>