<div class="main posts-index">
  <div class="container">
    <% if @posts_skunk.count > 0 %>
      <div class="hashtag">#SkunkWork</div>
      <div class="card-flex">
        <% @posts_skunk.each do |post| %>
        <a href="<%= "/posts/#{post.id}" %>">
          <section class="card">
            <img class="card-img" src="<%= "/user_images/#{post.user.image_name}" %>">
            <div class="card-content">
              <%= post.content %>
            </div>
          </section>
        </a>
        <% end %>
      </div>
    <% end %>
    <% if @posts_english.count > 0 %>
      <div class="hashtag">#英語</div>
      <div class="card-flex">
        <% @posts_english.each do |post| %>
        <a href="<%= "/posts/#{post.id}" %>">
          <section class="card">
            <img class="card-img" src="<%= "/user_images/#{post.user.image_name}" %>">
            <div class="card-content">
              <%= post.content %>
            </div>
          </section>
        </a>
        <% end %>
      </div>
    <% end %>
    <% if @posts_others.count > 0 %>
      <div class="hashtag">#その他</div>
      <div class="card-flex">
        <% @posts_others.each do |post| %>
        <a href="<%= "/posts/#{post.id}" %>">
          <section class="card">
            <img class="card-img" src="<%= "/user_images/#{post.user.image_name}" %>">
            <div class="card-content">
              <%= post.content %>
            </div>
          </section>
        </a>
        <% end %>
      </div>
    <% end %>

    <% if @posts.count > 0 %>
      <div class="hashtag">#テスト用の全件出し</div>
      <div class="card-flex">
        <% @posts.each do |post| %>
        <a href="<%= "/posts/#{post.id}" %>">
          <section class="card">
            <img class="card-img" src="<%= "/user_images/#{post.user.image_name}" %>">
            <div class="card-content">
              <%= post.content %>
            </div>
          </section>
        </a>
        <% end %>
      </div>
    <% end %>




  </div>
</div>