<div class="main posts-show">
  <div class="container">
    <div class="row">

      <div class="row">
        <div class="col s12">
          <div class="posts-show-item">
            <div class="col s9 post-title-left-container">
              <div class="post-title">
                <%= @post.title %>
                <br>
                <div class="padding-top-4"><span class="contributor">投稿者：</span>
                <%= link_to(@user.name, "/users/#{@user.id}", {class:"event-owner"}) %>
                </div>
              </div>
            </div>
             <div class="col s3 post-title-right-container" data-no-instant>
              <% if @current_user != nil %>

                <% if @post.user_id != @current_user.id%>
                  <% if Member.find_by(user_id: @current_user.id, post_id: @post.id) %>
                    <%= link_to("/members/#{@post.id}/destroy", {method: "post"}) do %>
                      <span class="waves-light btn">参加をやめる</span>
                    <% end %>
                  <% else %>
                    <% if @members.count < @post.max_member %>
                      <%= link_to("/members/#{@post.id}/create", {method: "post"}) do %>
                        <span class="waves-light btn">参加する</span>
                      <% end %>
                    <% else %> 
                      これ以上参加できません
                    <% end %>
                  <% end %>
                <% else %>
                  あなたが主催者です
                <% end %>
              <% end %>
              <br>
              <% if @post.max_member %>
                <div class="post-lest">参加者：<%= @members.count %>/<%= @post.max_member %> 人</div>
              <% else %>
                <div class="padding-top-4">何名でも参加可能です</div>
              <% end %>
            </div>     
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col s9">
          <div class="posts-show-item">
            <div class="row">
              <% if @current_user != nil %>
                <% if @post.user_id == @current_user.id %>
                  <div class="post-menus">
                    <a href="<%=" /posts/#{@post.id}/edit "%>" class="tooltipped" data-position="top" data-tooltip="この投稿を編集します" >
                      <i class="fa fa-edit fa-w-18 fa-2x" ></i>
                    </a>
                    <a href="#modal" data-target="modal" class="modal-trigger tooltipped" data-position="top" data-tooltip="この投稿を削除します">
                      <i class="fa fa-trash fa-w-18 fa-2x" ></i>
                    </a>
                  </div>
                <% end %>
              <% end %>
              <div class="col s12 image-container">
                <% if @current_user != nil %>
                  <div class="count-favorites" data-no-instant>
                    <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
                      <%= link_to("/likes/#{@post.id}/destroy", {:class => "tooltipped", "data-position" => "top", "data-tooltip" => "お気に入りから削除します", method: "post"}) do %>
                        <i class="fa fa-heart fa-w-18 fa-2x" ></i>
                      <% end %>
                    <% else %>
                      <%= link_to("/likes/#{@post.id}/create", {:class => "tooltipped", "data-position" => "top", "data-tooltip" => "お気に入りに登録します", method: "post"}) do %>
                        <i class="fa fa-heart-o fa-w-18 fa-2x"></i>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>

                <% if !@post.image.blank? %>
                  <div class="post-img">
                　　<%= image_tag @post.image.url %>
                  </div>
                <% end %>
                <div class="post-detail">
                  <p class="post-detail-label">詳細</p>
                    <% if !@post.content.blank? %>
                      <p>
                        <%= simple_format(@post.content) %>
                      </p>
                    <% else %>
                      未記入です。
                    <% end %>
                    
                </div>
      
                <div class="post-detail">
                  <p class="post-detail-label">参加者(<%= @members.count %>人)</p>
                    <div class="post-user-img">
                    <% @member_users.each do |member| %>
                      <% if !member.avatar.blank? %>
                        <img src="<%= member.avatar %>" class="tooltipped" data-position="bottom" data-tooltip="<%= member.name %>" >
                      <% else %>
                        <img src="<%= "/user_images/default_user.jpg" %>" class="tooltipped" data-position="bottom" data-tooltip="<%= member.name %>" >
                      <% end %>
                    <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col s3">
          <div class="posts-show-item">

            <label>日時</label>
            <div class="held-time">
             <%= @post.date_from.strftime("%Y年%m月%d日") %> <br>
             <%= @post.time_from.strftime("%-H時%M分") %>
             <% if @post.time_from && @post.time_to %>
               〜
             <% end %>

             <%= @post.time_to.strftime("%-H時%M分") %>
            </div>

            <label>予算</label>
            <div class="held-time">
              <% if !@post.budget.blank? %>
                <%= @post.budget %>円 <br>
              <% else %>
                指定されていません
              <% end %>
            </div>

            <label>場所</label>
            <div class="held-time">
              <% if !@post.place.blank? %>
                <%= @post.place %>
              <% else %>
                指定されていません
              <% end %>
            </div>

            <!-- 地図は今のところ不要かな -->
            <!-- <div id="map-canvas"></div>    -->

          </div>
        </div>

      </div>

      <div class="row">
        <div class="col s9">
          <!-- 更新日時-->
          <div class="post-time">
            <%= @post.updated_at.strftime("%Y年%m月%d日%-H時%M分") %>に最終更新されました
          </div>

        </div>       
      </div>

    <div id="modal" class="modal modal-fixed-footer delete-modal data-no-instant">
      <div class="modal-content">
        <h4>この投稿を削除します</h4>
        <p>この操作は元に戻せません。本当によろしいですか？</p>
      </div>
      <div class="modal-footer">
        <%= link_to("はい", "/posts/#{@post.id}/destroy", {method: "post", class: "modal-action modal-close waves-effect waves-green btn-flat"}) %>
        <button class="modal-action modal-close waves-effect waves-green btn-flat">キャンセル</button>
      </div>
    </div>

  </div>
</div>

<!--
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script>
    function initialize() {
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
        center: new google.maps.LatLng(34.698937, 135.49468),
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(34.698937, 135.49468),
        title: "Here is Melbourne!"
      });

      marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
