<!DOCTYPE html>
<html>
  <head>
    <title>Kyte</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>

  <body>
    <header>
      <% if @current_user %>
        <ul id="dropdown-post" class="dropdown-content">
          <li><%= link_to("ジャンルで探す", "/posts/index") %></li>
          <li><%= link_to("日付で探す", "/posts/date") %></li>
        </ul>

        <ul id="dropdown-user" class="dropdown-content">
          <li><%= link_to("ダッシュボード", "/users/#{@current_user.id}") %></li>
          <!-- <li><a href="https://workshuebt.slack.com/messages/C9FLCKA5D" target="_blank">フィードバック</a></li> -->
          <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>
        </ul>
      <% end %>

      <nav>
        <div class="nav-wrapper">
          <div class="header-logo">
            <% if @current_user %>
              <%= link_to("Kyte", "/posts/index") %>
            <% else %>
              <!-- <a href="/" data-turbolinks="false">Kyte</a> -->
              <%= link_to("Kyte", "/") %>
            <% end %>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
          <div class="header-menus">
            <ul class="right hide-on-med-and-down">
              <% if @current_user %>
                <li>
                  <a class="dropdown-button" href="/posts/index" data-activates="dropdown-post">
                    <div>イベントを探す</div>
                  </a>
                </li>
                <% if @current_user.name == 'admin' %>                
                  <li>
                    <%= link_to("ユーザー一覧", "/users/index") %>
                  </li>
                  <li>
                    <%= link_to("ジャンル一覧", "/genres/index") %>
                  </li>
                <% end %>
                <li>
                  <a class="dropdown-button" href="<%= "/users/#{@current_user.id} "%>" data-activates="dropdown-user">
                    <img class="icon-img" src="<%= "/user_images/#{@current_user.image_name}" %>">
                  </a>
                </li>
              <% else %>
                <li>
                  <!-- <a href="/about" data-turbolinks="false">Kyteとは</a> -->
                  <%= link_to("Kyteとは", "/about") %>
                </li>
                <li>
                  <%= link_to("アカウントを作る", "/signup") %>
                  <!-- <a data-target="account-modal" class="modal-trigger">アカウントを作る</a>  -->
                </li>
                <li>
                  <%= link_to("ログイン", "/login") %>
                  <!-- <a data-target="login-modal" class="modal-trigger">ログイン</a>  -->
                </li>
              <% end %>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <% if @current_user %>
                <li>
                  <img class="icon-img" src="<%= "/user_images/#{@current_user.image_name}" %>">
                </li>
                <li>
                  <%= link_to("ダッシュボード", "/users/#{@current_user.id}") %>
                </li>
                <li>
                  <%= link_to("イベントを作る", "/posts/new") %>
                </li>
                <li>
                  <%= link_to("イベントを探す", "/posts/index") %>
                </li>
                <% if @current_user.name == 'admin' %>
                  <li>
                    <%= link_to("ユーザー一覧", "/users/index") %>
                  </li>
                <% end %>
                <li>
                  <%= link_to("ログアウト", "/logout", {method: :post}) %>
                </li>
              <% else %>
                <li>
                  <!-- <a href="/about" data-turbolinks="false">Kyteとは</a> -->
                 <%= link_to("Kyteとは", "/about") %>
                </li>
                <li>
                  <%= link_to("アカウントを作る", "/signup") %>
                  <!-- <a data-target="account-modal" class="modal-trigger">アカウントを作る</a>  -->
                </li>
                <li>
                  <%= link_to("ログイン", "/login") %>
                  <!-- <a data-target="login-modal" class="modal-trigger">ログイン</a>  -->
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

      <% if session[:user_id] && !@new_button %>
        <div class="fixed-action-btn">
          <% if @genre_create %>
            <a class="tooltipped btn-floating btn-large green" data-position="top" data-tooltip="ジャンルを作る" href="<%= "/genres/create" %>">
              <i class="large material-icons">add</i>
            </a>
          <% else %>
            <a class="tooltipped btn-floating btn-large red" data-position="top" data-tooltip="イベントを作る" href="<%= "/posts/new" %>">
              <i class="large material-icons">add</i>
            </a>
          <% end %>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

    <main>
        <%= yield %>    
    </main>

<!-- 
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="footer-container">
        © 2018 KytePrototype
        </div>
      </div>
    </footer>
   -->
    <script>
      $(".button-collapse").sideNav();
    </script>

    <script>
    $(document).ready(function(){
      $('.tooltipped').tooltip({delay: 50});
    });
    </script>
  
    <script>
    $(document).ready(function(){
      $('.modal').modal();
    })
    </script>

    <script>
    // card枚数が8枚になったら横スクロールする
    const displayWidth = $(window).width();
    const LARGEST_SIZE = 1777;
    const LARGE_SIZE = 1552;
    const MIDDLE_SIZE = 1330;
    const SMALL_SIZE = 1110;
    var cardNum = 9;
    var speed = 30;

    if (displayWidth > LARGEST_SIZE) {
      cardNum = 9;
    } else if (displayWidth > LARGE_SIZE) {
      cardNum = 8;
    } else if (displayWidth > MIDDLE_SIZE) {
      cardNum = 7;
    } else if (displayWidth > SMALL_SIZE) {
      cardNum = 6;
    } else {
      cardNum = 5;
    }

    $(document).ready(function() {
      $('.card-flex').each(function(i){
        if ($('.card-flex:eq('+i+') a').length >= cardNum) {
          $('#cards-'+i).mousewheel(function(e, delta) {
              this.scrollLeft -= (delta * speed);
              e.preventDefault();
          });       
        }
      })
    });
    </script>
    <script>
      // ヘッダーのドロップダウンメニューをいい感じの配置にする
      $(".dropdown-button").dropdown({ hover: true, constrainWidth: false, belowOrigin: true });

      // flashがずっと出ているのがうざいので、0.7秒で消す
      $('document').ready(function() {
        setTimeout(function() {
          $('.flash').slideUp();
        }, 700);
      });
    </script>

    <script>
    // 選択ボックスの有効化
    $(document).ready(function() {
      $('select').material_select();
    });

    // datepickerの有効化
    $('.datepicker').pickadate({
      monthsFull:  ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
      monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
      weekdaysFull: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
      weekdaysShort:  ["日", "月", "火", "水", "木", "金", "土"],
      weekdaysLetter: ["日", "月", "火", "水", "木", "金", "土"],
      labelMonthNext: "翌月",
      labelMonthPrev: "前月",
      labelMonthSelect: "月を選択",
      labelYearSelect: "年を選択",
      today: "今日",
      clear: "クリア",
      close: "閉じる",
      format: "yyyy-mm-dd",
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      closeOnSelect: true // Close upon selecting a date,
    });

    // 文字数カウント
    $(document).ready(function() {
      $('input#title, textarea#detail-content').characterCounter();
    });

    </script>

    <script>
      // TODO クロッピングうまくできねーーーー
       $('#image').change(function() {
        var fr = new FileReader();
        fr.onload = function() {
          var img = $('<img>').attr('src', fr.result);
          img.attr('class', 'added-img');
          if ($('.added-img')) {
            $('.added-img').remove();
          }
          $('#preview').append(img);
  //         $('.get-data-area').append('<a id="getData" class="btn">crop</a>')

  //         var croppedImage = document.querySelector('#preview > img');
  //         var cropper = new Cropper(croppedImage, {
  //           dragMode: 'move', 
  //           aspectRatio: 3 / 1,
  //           modal: true,
  //           restore: false,
  //           guides: false,
  //           center: false,
  //           highlight: false,
  //           cropBoxMovable: false,
  //           cropBoxResizable: false,
  //           toggleDragModeOnDblclick: false,
  //           // minCropBoxWidth: 814.5,
  //           // minCropBoxHeight: 271,
  //           ready: function () {
  //             croppable = true;
  //           }
  //         });

  //         var croppedCanvas;
  //         $('#getData').on('click', function(){
  //           croppedCanvas = cropper.getCroppedCanvas({
  //             width: 814.5,
  //             height: 271,
  //           });
  //           var croppedImage = document.createElement('img');
  //           croppedImage.src = croppedCanvas.toDataURL();
  //           $('#preview').empty();
  //           $('#preview').append(croppedImage);

  //           // TODO その場でサーバーに送るのではなく、croppingだけして、フォーム下のボタンでまとめて送りたいが、、、
  //         $('input[type="submit"]').on('click', function(event){
  //           croppedCanvas.toBlob(function (blob) {
  //             const fileOfBlob = new File([blob], generateUuid().toString());
  //             var formData = new FormData();
  //             formData.append('file', fileOfBlob);
  //             const post_id = $('.get-data-area').attr('id');
  //             $.ajax('/posts/'+ post_id + '/update', {
  //               method: "post", 
  //               data: formData,
  //               processData: false,
  //               contentType: false,
  //               success: function (res) {
  //                 console.log('SUCCESS', res);
  //               },
  //               error: function (res) {
  //                 console.error('Upload error');
  //               }
  //             });
  //           });
  //         });
  //     }); 
    };

        fr.readAsDataURL(this.files[0]);
  }); 

    </script>
    <script>
    // function generateUuid() {
    //   let chars = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".split("");
    //   for (let i = 0, len = chars.length; i < len; i++) {
    //     switch (chars[i]) {
    //       case "x":
    //           chars[i] = Math.floor(Math.random() * 16).toString(16);
    //           break;
    //       case "y":
    //           chars[i] = (Math.floor(Math.random() * 4) + 8).toString(16);
    //           break;
    //     }
    //   }
    //   return chars.join("");
    // }
    </script>
  </body>
</html>


